.tippy-box {
    background: transparent;
}

.tippy-box .tippy-content {
    background: var(--horizontal-menu-background);
    padding: 0;
    border-radius: 6px;
    z-index: 2;

    pointer-events: auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.tippy-box .tippy-arrow {
    z-index: 1;
}